<ion-header>
    <ion-toolbar>
        <ion-item lines=none>
            <ion-button (click)= "navToExplore()" fill=clear>
                <ion-icon slot="icon-only" name="arrow-back">
                </ion-icon>
            </ion-button>
            <ion-title *ngIf="property">{{property.address}}</ion-title>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>

        <ion-item-sliding>
                <img src={{property.imageUrl}} width="480px" height="270px" padding>
                <ion-card-content>Rental ImageUrl: {{property.imageUrl}}</ion-card-content>
                <ion-card-content>Rental Name: {{property.name}}</ion-card-content>
                <ion-card-content>Rental Location: {{property.location}}</ion-card-content>
                <ion-card-content>Rental Address: {{property.address}}</ion-card-content>
                <ion-card-content>Rental Price: {{property.price}}</ion-card-content>
                <ion-card-content>Rental Description: {{property.description}}</ion-card-content>
        </ion-item-sliding>

    <!-- [(ngModel)]= "currentUser.name"  -->
    <ion-list>
            <ion-item>
                <ion-label>Enter Date</ion-label>
                <ion-datetime display-format="MMM DD, YYYY HH:mm"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-input [(ngModel)]= "booking.dateTo" placeholder="Arrive On (MM/DD/YYYY)" clearInput></ion-input>
            </ion-item>
            <ion-item>
                <ion-input [(ngModel)]= "booking.dateFrom" placeholder="Depart On (MM/DD/YYYY)" clearInput></ion-input>
            </ion-item>
        </ion-list>

    <ion-button value="Dates" (click)="bookNow()">
        Book Now
    </ion-button>
</ion-content>