<ion-header>
    <ion-toolbar>
        <ion-item lines=none>
            <ion-button href="/tabs/tab1" fill=clear>
                <ion-icon slot="icon-only" name="arrow-back">
                </ion-icon>
            </ion-button>
            <ion-title *ngIf="currentListing">{{currentListing.address}}</ion-title>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <img src={{currentListing.image}}>
        <ion-card-content>Book House: {{currentListing.address}} b/c it is awesome.</ion-card-content>
    </ion-item>
    <ion-segment>
        <ion-segment-button value="Dates">
            Book Now
        </ion-segment-button>
    </ion-segment>
</ion-content>